.end-section{
  margin: auto;
  width: 60%;
  border: 3px solid lightgray;
  border-radius: 5px;
  padding: 2%;
  color: white;
  text-align: center;
}

.ending-header{
    font-family: 'Dancing Script', cursive;
}